* {
  margin: 0;
  padding: 0;
}
h2 {
  color: rgb(12, 12, 12);
  background: rgb(197, 193, 188);
  text-align: center;
  margin: 0 10 0%;
  border: groove;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
