<p>todo works!</p>

<input type="text" placeholder="my todo list" readonly>

<div class="todo-container">
  <input type="text" [placeholder]="todoitem">
  <button id="delete">edit</button>  <button id="save">save</button> <br>
  <input type="text" [placeholder]="todoitem">
  <button id="delete">edit </button>  <button id="save">save</button> <br>
  <input type="text" [placeholder]="todoitem">
  <button id="delete">edit</button>  <button id="save">save</button> <br>
  <input type="text" [placeholder]="todoitem">
  <button id="delete">edit</button>  <button id="save">save</button> <br>
</div>
